{% extends "base.html" %}
{% load humanize %}

{% block content %}
<div class="ui segment">
    <form method="post" class="ui form" novalidate>
        {% csrf_token %}
        <div class="two fields">
            <div class="field">
                {{ form.data_sources.label }}
                {{ form.data_sources }}
            </div>

            <div class="field">
                {{ form.campaigns.label }}
                {{ form.campaigns }}
            </div>
        </div>

        <button class="ui primary right floated labeled icon button" type="submit">
            <i class="search icon"></i>
            Submit
        </button>

        <div style="clear: both"></div>
    </form>
</div>

<div class="ui steps">
  <div class="active step">
    <i class="mouse pointer icon"></i>
    <div class="content">
      <div class="title">Clicks</div>
      <div class="description">{{ total_clicks|intcomma }}</div>
    </div>
  </div>
  <div class="step">
    <i class="eye icon"></i>
    <div class="content">
      <div class="title">Impressions</div>
      <div class="description">{{ total_impressions|intcomma }}</div>
    </div>
  </div>
</div>

{% include "ads/_chart.html" with data=objects %}

{% endblock %}